.circle {
  display: inline-block;
  border: 2px solid #666666;
  border-radius: 50%;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: alpha(opacity=60);
  opacity: 0.6;

  -webkit-box-shadow: 0 0 1px 0px rgb( 255, 255, 255);
  box-shadow: 0 0 1px 0px rgb( 255, 255, 255);
  width: 25px;
  height: 25px;
  z-index: 86;

  -webkit-transition: background-color .5s ease-in-out;
  -moz-transition: background-color .5s ease-in-out;
  -o-transition: background-color .5s ease-in-out;
  -ms-transition: background-color .5s ease-in-out;
  transition: background-color .5s ease-in-out;
}

.circle.green {
  background-color: #11862a;
}

.circle.red {
  background-color: #da1a1a;
}

.circle.yellow {
  background-color: #ffde66;
}

.pitch-count-container {
  display: flex;
  padding-left: 10%;
}

.ball-container, .strike-container, .out-container {
  width: 33%;
}

.ball-container .legend, .strike-container .legend, .out-container .legend {
  display: inline-block;
  width: 60px;
  padding-right: 5px;
}

.circle-container {
  display: inline-block;
  width: 100px;
}

.ball-container span, .strike-container span, .out-container span {
  font-size: 0.8em;
}