.pitcher-comparison-container {
  display: flex;
  width: 80%;
  padding: 10%;

  .pitch-scatter-plot {
    width: 50%;
  }
}

.scatter-plot-container {
  width: inherit;
}

.scatter-plot-container:first-of-type {
  border-right: solid 1px;
  padding-right: 1%;
}

.scatter-plot-container:last-of-type {
  padding-left: 1%;
}