#react-app
  =react_component('PitchFxContainer', pitcherOne: Pitcher.first.id, pitcherTwo: Pitcher.second.id, pitcherOneName: Pitcher.first.name, pitcherTwoName: Pitcher.second.name )
%footer.info
  %p View situational pitch selection and location
  %p
    Created by
    = link_to "Brian Weiner", "https://github.com/brianweiner"
